.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}

.top-nav {
  background: blueviolet;
  padding-bottom: 10px;
}

.p-0 {
  padding: 0;
}

.pl-1 {
  padding-left: 10px;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.text-smaller {
  font-size: smaller;
}

.lead {
  font-size: 1.25rem;
  font-weight: bold;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0px !important;
} 

.ml-2 {
  margin-left: 20px;
}

.mr-2 {
  margin-right: 20px;
}

.text-small {
  font-size: xx-small;
}

.text-larger {
  font-size: xx-large;
}

.btn-95 {
  width: 95%;
}

.btn-top-bar {
  background-color: black;
  color: white;
  font-size: small;
  width: 100px;
  border-radius: 50px;
  height: 35px;
  margin-top: 10px;
}

.nav-tabs .nav-link.active {
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link:hover {
  background-color: transparent;
  border-color: transparent;
}

.App .nav-item {
  width: 32% !important;
}

.App .nav-item button {
  width: 100%;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.row>* {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.wallet-form-wizard .card {
  padding: 20px !important;
}

.activityTabContent .list-group-item {
  font-size: smaller;
}

.wallet-form-wizard .badge {
  margin-right: 1px;
  margin-left: 1px; 
  height: 25px; 
  line-height: 1.5;
  width: 49%;
}